IO_LOC "clk"  52;
IO_PORT "clk" IO_TYPE=LVCMOS18 PULL_MODE=NONE BANK_VCCIO=1.8;

IO_LOC "rst_n"  4;
IO_PORT "rst_n" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "sensor_entrada"  29;
IO_PORT "sensor_entrada" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "sensor_salida"  25;
IO_PORT "sensor_salida" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "led_verde"  77;
IO_PORT "led_verde" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;

IO_LOC "led_rojo"  76;
IO_PORT "led_rojo" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;

IO_LOC "seg7[0]"  80;
IO_PORT "seg7[0]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;

IO_LOC "seg7[1]"  81;
IO_PORT "seg7[1]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;

IO_LOC "seg7[2]"  82;
IO_PORT "seg7[2]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;

IO_LOC "seg7[3]"  83;
IO_PORT "seg7[3]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;

IO_LOC "seg7[4]"  84;
IO_PORT "seg7[4]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;

IO_LOC "seg7[5]"  85;
IO_PORT "seg7[5]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;

IO_LOC "seg7[6]"  86;
IO_PORT "seg7[6]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;