//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12 (64-bit)
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Wed 03 04 09:00:43 2026

IO_LOC "q_out[  7]" 63;
IO_PORT "q_out[7]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "q_out[6]" 86;
IO_PORT "q_out[6]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "q_out[5]" 85;
IO_PORT "q_out[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "q_out[4]" 84;
IO_PORT "q_out[4]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "q_out[3]" 83;
IO_PORT "q_out[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "q_out[2]" 82;
IO_PORT "q_out[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "q_out[1]" 81;
IO_PORT "q_out[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "q_out[0]" 80;
IO_PORT "q_out[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "modo[2]" 37;
IO_PORT "modo[2]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "modo[1]" 36;
IO_PORT "modo[1]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "modo[0]" 39;
IO_PORT "modo[0]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "d_in[7]" 25;
IO_PORT "d_in[7]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "d_in[6]" 26;
IO_PORT "d_in[6]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "d_in[5]" 27;
IO_PORT "d_in[5]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "d_in[4]" 28;
IO_PORT "d_in[4]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "d_in[3]" 29;
IO_PORT "d_in[3]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "d_in[2]" 30;
IO_PORT "d_in[2]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "d_in[1]" 33;
IO_PORT "d_in[1]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "d_in[0]" 34;
IO_PORT "d_in[0]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "load" 38;
IO_PORT "load" IO_TYPE=LVCMOS18 PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "reset" 3;
IO_PORT "reset" IO_TYPE=LVCMOS18 PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "clk_fpga" 52;
IO_PORT "clk_fpga" IO_TYPE=LVCMOS18 PULL_MODE=DOWN BANK_VCCIO=1.8;
